<html>
<h1>SHOW_POST</h1>

<strong>Title:</strong><%=@post.title%><br>
<strong>Description:</strong><%=@post.description%><br>
<%=link_to "edit post",edit_user_post_path(@user,@post)%>
<%=link_to "delete post",user_post_path(@user,@post),:method=>:delete%>
<hr>

</html>
