<html>
<h1>INDEX</H1>
<table border="2"> 
<tr>
<td><strong>Name</strong></td>
<td><strong>Email</strong></td>
<td><strong>Show</strong></td>
</tr>
<%@users.each do |u|%>
<tr>
<td> <%=u.user_name%></td>
<td> <%=u.email%></td>
<td><%=link_to "show User",user_path(u)%></td>

<%end%>
</tr>
</table>
<%=link_to "create User",new_user_path%>

</html>
